#PortfolioNav{
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;;
    color: white;
    font-family: Inter;
    align-items: center;
}
#PortfolioNav{
    background: #111A1F;
    width: 100vw;
    height: 92px;
}
.SocialLinks > i{
    font-size: 2rem;
    cursor: pointer;
}
/*SECTION - Individual section */
#PortfolioNav > img{
    width: auto;
    height: 62px;
    margin-left: 100%;
}
.SocialLinks{
    display: flex;
    gap: 50px;
    justify-content: start;
    margin-left: 1.1em;
}
.NavLinks{
    display: flex;
    justify-content: end;
    gap: 35px;
    margin-right: 4em;
    font-size: 1rem;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: 100;
}